.btn a {
  text-decoration: none;
  background-color: #5f3dc4;
  color: #fff;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 4rem;
  border-radius: 4px;
  text-decoration: none;
}

.btn a:hover {
  background-color: #7950f2;
}
